.register-form {
    box-sizing: border-box;
    justify-self: center;
    display: grid;
    grid-template-columns: max-content 1fr minmax(100px, 300px);
    gap: 10px;
    margin: 20px;
    max-width: 800px;
    padding: 20px;
    border-radius: 32px;
    background-color: lightgreen;
}
.register-form > label {
    justify-self: right;
    grid-column: 1;
}
.register-form > input {
    box-sizing: border-box;
    justify-self: left;
    width: 100%;
    grid-column: 2;
}
.register-form > .error {
    justify-self: left;
    grid-column: 3;
    padding: 2px 8px;
    border: 0.5px solid red;
    border-radius: 5px;
    color: red;
    background-color: pink;
}
.register-form > button {
    margin-top: 10px;
}
.submit-button {
    justify-self: right;
    grid-column: 2;
}
.cancel-button {
    justify-self: left;
    grid-column: 3;
}