button {
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.info {
    justify-self: center;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: dimgrey;
    border: 2px solid aqua;
    background-color: lightblue;
}
header {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: dimgrey;
    background-color: lightblue;
}
