@import "tailwindcss";

@theme {
  --color-brand-primary: #e0f2fe;
  --color-brand-secondary: #f3f4f6;
  --font-display: "Inter", sans-serif;
}
h1 {
    font-weight: 700;
    font-size: 32px;
}
h2 {
    font-weight: 600;
    font-size: 24px;
}
h3, h4, h5, h6 {
    font-weight: 500;
    font-size: 18px;
}
.info {
    justify-self: center;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: dimgrey;
    border: 2px solid aqua;
    background-color: lightblue;
}
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: dimgrey;
    background-color: lightblue;
}
input {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 5px;
}
select {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px 8px;
}

